SECRET_KEY=<tu-secret-key>
JWT_SECRET_KEY=<tu-jwt-secret-key>

DATABASE_URL=postgresql+psycopg://<usuario>:<password>@127.0.0.1:5432/stockmaster

TEST_DATABASE_URL=postgresql+psycopg://<usuario>:<password>@127.0.0.1:5432/stockmaster_test

DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10

CORS_ORIGINS=http://localhost:4200